---
import presentation from "../../videos/presentation2.mp4";
import Scroll from "../Scroll.astro";
import doDelivery from "../../icons/doDelivery.svg";
import whatsapp from "../../icons/whatsapp.svg";
import cookie from "../../icons/cookie.svg";
import sushi from "../../icons/sushi.svg";
import Header from "../Header.astro";
---

<script>
	import "transition-style";
</script>

<section class="min-h-screen bg-[--primary] relative pt-32 md:pt-0 z-10">
	<Header href2="/navbar" />

	<article
		class="flex items-center justify-center p-0 -mt-10"
		transition-style="in:circle:center">
		<aside
			class="w-full flex flex-col items-center justify-center relative z-10">
			<div
				class="md:-translate-x-60 md:translate-y-20 flex flex-col items-start text-start text-[--secondary] mx-auto w-fit">
				<span
					class="text-base pb-6 uppercase text-start font-extralight opacity-25"
					id="text2">
					En Sushi App
				</span>
				<p
					class="text-5xl md:text-[4vw] -mt-4 font-[--text1]"
					id="text">
					La opción ideal <br /> para cada momento
				</p>
			</div>
			<picture
				class="-z-10 flex overflow-hidden aspect-square items-center justify-center md:-translate-y-12">
				<video
					muted
					loop
					autoplay
					src={presentation}
					class="w-full max-w-[530px] opacity-60">
				</video>
			</picture>
			<div id="text" class="pt-12 md:pt-0">
				<p
					class="text-5xl md:text-[4vw] -mt-24 font-[--text1] text-[--secondary] md:-translate-y-10 md:translate-x-72">
					Sushi, Pokes, Woks,<br /> Wraps y mucho más!
				</p>
			</div>
		</aside>
	</article>
	<div class="flex justify-between absolute bottom-20 w-full items-center">
		<a
			class="px-6 hover:scale-105 transition max-w-24 fixed bottom-4 z-100"
			href="#"
			><img src={cookie.src} alt="cookie icon" />
		</a>
		<a class="px-6 w-full z-20 relative hidden md:block" href="#">
			<img
				src={doDelivery.src}
				alt="delivery icon"
				class="absolute animate-[spin_15s_ease-in-out_infinite] w-28 m-auto top-0 right-0 left-0 bottom-0"
			/>
			<img
				src={sushi.src}
				alt="sushi icon"
				class="absolute top-0 w-16 bg-[--secondary] rounded-full p-1 m-auto right-0 left-0 bottom-0"
			/>
		</a>
		<a
			class="px-6 hover:scale-105 transition max-w-24 z-50 fixed right-0 bottom-4"
			href="#"><img src={whatsapp.src} alt="whatsapp icon" /></a
		>
	</div>
	<Scroll href="#FirstSection" />
</section>

<style>
	#text {
		font-family: var(--text2);
	}
	#text2 {
		font-family: var(--text1);
	}
	@media (max-width: 1600px) {
		aside {
			margin-top: -4rem;
		}
	}
</style>
