---
import instagram from "../icons/instagram.svg";
import insta_1 from "../img/instagram/insta_1.jpg";
import insta_2 from "../img/instagram/insta_2.jpg";
import insta_3 from "../img/instagram/insta_3.jpg";
import insta_4 from "../img/instagram/insta_4.jpg";
import insta_5 from "../img/instagram/insta_5.jpg";
import insta_6 from "../img/instagram/insta_6.jpg";
import insta_7 from "../img/instagram/insta_7.jpg";
import insta_8 from "../img/instagram/insta_8.jpg";
import insta_9 from "../img/instagram/insta_9.jpg";
import insta_10 from "../img/instagram/insta_10.jpg";
import insta_11 from "../img/instagram/insta_11.jpg";
import insta_12 from "../img/instagram/insta_12.jpg";
---

<section
	class="h-full md:h-screen w-full flex flex-col items-strech justify-center bg-[--primary] py-20 md:py-0">
	<div
		class="flex justify-between max-w-[1200px] items-center w-full mx-auto">
		<h2
			class="font-[--text1] text-[--secondary] text-5xl px-2 md:px-0 md:text-7xl pb-0"
			id="text">
			Sushi App en instagram
		</h2>
		<div
			class="font-light flex flex-col items-start text-center md:items-end text-sm md:text-xl text-[--secondary]">
			<a
				class="flex items-center gap-2 z-50 hover:scale-105 transition-transform duration-300 ease-in-out"
				target="_blank"
				href="https://www.instagram.com/sushiapp/"
				><img
					class="max-w-10"
					src={instagram.src}
					alt=""
				/>@sushi_app</a
			>
			<span class="font-extralight opacity-75"
				>Ya somos <strong>185mil </strong>seguidores</span
			>
		</div>
	</div>
	<article
		class="text-6xl md:text-[12vw] overflow-hidden pt-20 w-full"
		id="slider-component">
		<aside>
			<div class="slider-container-1">
				<img
					src={insta_1.src}
					alt="instagram picture"
					class="max-w-[350px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_2.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-1">
				<img
					src={insta_3.src}
					alt="instagram picture"
					class="max-w-[350px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_4.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-1">
				<img
					src={insta_5.src}
					alt="instagram picture"
					class="max-w-[350px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_6.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-1">
				<img
					src={insta_7.src}
					alt="instagram picture"
					class="max-w-[350px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_8.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-1">
				<img
					src={insta_9.src}
					alt="instagram picture"
					class="max-w-[350px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_10.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_11.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
			<div class="slider-container-2">
				<img
					src={insta_12.src}
					alt="instagram picture"
					class="max-w-[250px] aspect-square"
				/>
			</div>
		</aside>
	</article>
</section>

<script>
	const slider = document.getElementById("slider-component");
	let isPaused = false;

	slider?.addEventListener("mouseenter", () => {
		isPaused = true;
		slider.style.animation = "paused";
		console.log("paused");
	});

	slider?.addEventListener("mouseleave", () => {
		isPaused = false;
		slider.style.animationPlayState = "running";
		console.log("running");
	});
</script>

<style>
	#text {
		font-family: var(--text2);
	}
	#tetx2 {
		font-family: var(--text1);
	}
	@media (max-width: 768px) {
		aside {
			animation: slide 100s linear infinite;
		}
	}
	@media (min-width: 1024px) {
		aside {
			animation: slide 400s linear infinite;
		}
	}
	aside {
		display: flex;
		align-items: start;
		justify-content: center;
		width: 100%;
		gap: 2.5rem;
	}
	aside:has(:hover) {
		animation-play-state: paused;
	}

	@keyframes slide {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-500%);
		}
	}
</style>
